.bgc{
  background-color: #333;

}
.box{
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}
.biz{
  >h2{
    color: #fff;
    font-size: 18px;

    margin-bottom: 15px;
  }
  >h3{
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 12px;
  }
}
.oplata{
  >h2{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  >div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    >img{
      width: 100px;
      height: 50px;
      border-radius: 8px;
      overflow: hidden;
    }
  }
}
.instabox{
  >img{
    cursor: pointer;
    transition: all .5s ease;
    border-radius: 50%;
  }
}
.instabox{
  margin-bottom: 15px;
  >.face:hover{
    background:#3b5999;
  }
  >.telegram:hover{
    background-color:  #0077b5;
  }
  .insta:hover{
    background: rgb(131,58,180);
    background: linear-gradient(184deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  }
}
.face{
  margin-right: 10px;
}
.insta{
  transition: all .5s ease;
  border: 1px solid rgb(227, 16, 55);
  border-radius: 50%;
  margin-left: 12px;

}
.kontact{
  >h2{
    color: #fff;
    font-size: 18px;
    margin-bottom: 15px;
  }
  >a{
    color: #fff;
    font-size: 25px;
    margin-top: 15px;
    transition: all .5s ease;
  }
  >a:hover{
   color: rgba(225, 19, 19, 0.906);
  }
}
